process {
	container = 'ubuntu'
	executor = 'local'
	disk = 2.GB
    memory = 1.GB
    cpus = 2
    time = 8.h

	withName: 'excludeMNPs|splitMultiAllelics' {
        disk = 2.GB
        memory = 1.GB
        cpus = 2
        time = 8.h
		container = 'staphb/bcftools:1.19'
	}
	withName: 'importGVCF|genotypeGVCF_multi|genotypeGVCF_solo|genotypeGVCF|variantRecalibratorSNP|variantRecalibratorIndel|applyVQSRIndel|applyVQSRSNP|hardFiltering|gatherVCF' {
		disk = 2.GB
        memory = 1.GB
        cpus = 2
        time = 8.h
        container = 'broadinstitute/gatk:4.5.0.0'
	}
	withName: vep {
        disk = 2.GB
        memory = 1.GB
        cpus = 2
        time = 8.h
		container = 'ensemblorg/ensembl-vep:release_111.0'
	}
	withName: tabix {
        disk = 2.GB
        memory = 1.GB
        cpus = 2
        time = 8.h
		container = 'staphb/htslib:1.19'
	}
}